* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --color-base: rgb(0, 0, 0);
    --color-primary: rgb(216, 216, 216);
    --color-secondary: rgb(217, 217, 217);
    --background-color: linear-gradient(to right, #8e9eab, #eef2f3);
}

.body {
    min-height: 100vh;
}

.header {
    overflow: hidden;
    background-color: var(--color-secondary);
    padding: 1rem 2rem 1rem 2rem;
}

.header a {
    float: left;
    color: var(--color-base);
    text-align: center;
    padding: .8rem;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: var(--color-primary);
    color: var(--color-base);
    cursor: pointer;
}

.header-right {
    float: right;
}

.footer {
    background: var(--color-secondary);
    color: var(--color-base);
    line-height: 50px;
}

#app {
    background-color: var(--background-color);
}
